.container {
  margin: 0;
  padding: 0;
}

.checkbox {
  display: none;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.label {
  position: relative;
  background: #111;
  display: flex;
  border-radius: 50px;
  height: 26px;
  width: 50px;
  padding: 5px;
  align-items: center;
  justify-content: space-between;
  transform: scale(1.5);
}

.faMoon {
  color: #f1c40f;
}

.faMoon svg {
  margin: 0;
}

.faSun {
  color: #f39c12;
}

.faSun svg {
  margin: 0;
}

.ball {
  width: 22px;
  height: 22px;
  background: #fff;
  position: absolute;
  top: 2px;
  left: 2px;
  border-radius: 50px;
  transition: transform 0.2s linear;
}

.text {
  margin-top: 15px;
}

body.dark p {
  color: #fff;
}
