.heading {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  padding: var(--navbar-height) 0 1rem 0;
}

.heading h1 {
  font-size: 3rem;
  font-weight: 700;
}

.heading h3 {
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  margin: 1rem 0;
  gap: 0.3rem;
}

.date {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.content {
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.content a {
  color: #fe4632;
  text-decoration: underline;
  font-weight: 500;
}
.content a:hover {
  color: #a33327;
}
.content strong {
  color: #111827;
  font-weight: 600;
}
.content ol {
  counter-reset: list-counter;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.content ol > li {
  position: relative;
  counter-increment: list-counter;
  padding-left: 1.75em;
}
.content ol > li:before {
  content: counter(list-counter) ".";
  position: absolute;
  font-weight: 400;
  color: #6b7280;
  left: 0;
}
.content ul > li {
  position: relative;
  padding-left: 1.75em;
}
.content ul > li:before {
  content: "";
  position: absolute;
  background-color: #d1d5db;
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  top: calc(0.875em - 0.1875em);
  left: 0.25em;
}
.content hr {
  border-color: #e5e7eb;
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}
.content blockquote {
  font-weight: 500;
  font-style: italic;
  color: #111827;
  border-left-width: 0.25rem;
  border-left-color: #e5e7eb;
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em;
}
.content blockquote p:first-of-type:before {
  content: open-quote;
}
.content blockquote p:last-of-type:after {
  content: close-quote;
}
.content h1 {
  color: var(--text-primary);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}
.content h2 {
  color: var(--text-primary);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}
.content h3 {
  color: var(--text-primary);
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}
.content h4 {
  color: #111827;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}
.content figure figcaption {
  color: #6b7280;
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}
.content code {
  color: var(--text-code);
  font-weight: 600;
  font-size: 0.875em;
}
.content code:before {
  content: "`";
}
.content code:after {
  content: "`";
}
.content a code {
  color: #111827;
}
.content pre {
  color: #e5e7eb;
  background-color: #201e1e;
  overflow-x: auto;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding: 0.8571429em 1.1428571em;
}
.content pre code {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: 400;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}
.content pre code:before {
  content: "";
}
.content pre code:after {
  content: "";
}
.content table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}
.content thead {
  color: #111827;
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-color: #d1d5db;
}
.content thead th {
  vertical-align: bottom;
  padding-right: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-left: 0.5714286em;
}
.content tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: #e5e7eb;
}
.content tbody tr:last-child {
  border-bottom-width: 0;
}
.content tbody td {
  vertical-align: top;
  padding: 0.5714286em;
}
.content {
  font-size: 1rem;
  line-height: 1.75;
}
.content p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  color: var(--text-primary);
  font-size: 18px;
}
.content figure,
.content img,
.content video {
  margin: 2rem auto;
}
.content figure > * {
  margin-top: 0;
  margin-bottom: 0;
}
.content h2 code {
  font-size: 0.875em;
}
.content h3 code {
  font-size: 0.9em;
}
.content ul {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}
.content li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  z-index: 0;
}
.content > ul > li p {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.content > ul > li > :first-child {
  margin-top: 1.25em;
}
.content > ul > li > :last-child {
  margin-bottom: 1.25em;
}
.content > ol > li > :first-child {
  margin-top: 1.25em;
}
.content > ol > li > :last-child {
  margin-bottom: 1.25em;
}
.content ol ol,
.content ol ul,
.content ul ol,
.content ul ul {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.content hr + * {
  margin-top: 0;
}
.content h2 + * {
  margin-top: 0;
}
.content h3 + * {
  margin-top: 0;
}
.content h4 + * {
  margin-top: 0;
}
.content thead th:first-child {
  padding-left: 0;
}
.content thead th:last-child {
  padding-right: 0;
}
.content tbody td:first-child {
  padding-left: 0;
}
.content tbody td:last-child {
  padding-right: 0;
}
.content > :first-child {
  margin-top: 0;
}
.content > :last-child {
  margin-bottom: 0;
}
.content h2 a {
  color: var(--text-primary);
  text-decoration: none;
}
