@import url("https://use.typekit.net/uus7cqb.css");

:root {
  --background-primary: white;
  --theme-transition-delay: .4s;
  --navbar-height: 96px;
  --text-primary: #374151;
  --text-secondary: #fe4632;
  --text-code: #111827;
  --color-blue: #0373fc;
  --color-gray-blue: #DCF8FF;
	--color-light-blue: #8FA4FF;
	--color-midnight-blue: #002C44;
}

[data-theme='dark'] {
  --background-primary: #363537;
  --text-primary: white;
  --text-code: #b5b5b5;
}

body {
  display: block;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* This is needed due to some z-index weirdness with tailwind-typography prose */
.prose ul > li {
  z-index: 0;
}

